/* Placeholder */

.excalidraw-container {
  height: calc(100vh - 160px);
  width: 100%;
  margin-top: 10px;
}

.excalidraw-outer-toolbar * {
}

.excalidraw-outer-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.excalidraw-outer-toolbar .toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.excalidraw-outer-toolbar .toolbar div {
  margin-left: 5px;
}
