/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-excalidraw-excalidraw-block {
	.excalidraw-doc svg {
		width: 100%;
		height: auto;
		display: block;
	}

	.excalidraw-doc {
		display: inline-block;
	}

	.excalidraw-doc-title {
		text-align: center;
	}
}
