.excalidraw-admin-table-item {
  display: flex;
  align-items: center;
}

.excalidraw-admin-table-item .preview {
  margin-right: 1em;
}

.excalidraw-admin-table-item .preview img {
  width: 90px;
  display: block;
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.07);
}

.excalidraw-admin-table-item .title {
  font-size: 1em;
  margin: 0;
}
